
<div class="container">
        <h2>Add Products</h2>
        <form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label for="text">Name:</label>
            <input type="text" class="form-control"  formControlName="name" id="name" placeholder="Enter name" name="name">
          </div>
          <div class="form-group">
            <label for="number">Price:</label>
            <input type="number" class="form-control" formControlName="price" id="price" placeholder="Enter price" name="price">
          </div>
          <div class="form-group">
            <label for="text">Image URL:</label>
            <input type="text" class="form-control" formControlName="image" id="imageurl" placeholder="Enter URL" name="image">
          </div>
          <div class="form-group">
            <label for="text">ImageAlt:</label>
            <input type="text" class="form-control" formControlName="imageAlt" id="imagealt" placeholder="Enter ImageAlt" name="imageAlt">
          </div>
          <div class="form-group">
            <label for="text">Description:</label>
            <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter Description" name="description">
          </div>
          <div class="form-group">
            <label for="text">Availability:</label>
            <select formControlName="isAvailable">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>